:root {
    --vermelho: #E50914;
    --preto: #141414;
}

/*base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 50px;
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: -5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/*filme principal*/
.filme-principal {
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/filme-principal.jpg);
    height: 480px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.container {
    margin-left: 5px;
}

.filme-principal .container {
    width: 75%;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease-out;
}

.botao:hover {
    background-color: rgb(255, 255, 255,.80);
    color: black;
}

.botao i {
    margin-left: 5px;
    margin-right: 8px;
}

.box-filme {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
}

.box-filme:hover {
    padding: 0;
    cursor: pointer;
}

.section {
    margin: 15px 0 30px -5px;
}

.subtitle {
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}