@media screen and (max-width: 600px) {

    body {
        margin-left: 20px;
    }

    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 250px;
    }
}

@media screen and (max-width: 750px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal {
        font-size: 12px;
    }
    
    .filme-principal .titulo {
    font-size: 30px;
    }

    .botao {
        padding: 12px 24px;
        font-size: 9px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 60%;
    }

    .filme-principal .titulo {
        margin-top: 10%;
    }
    
}
